@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("/images/Halo-Background.jpeg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Orbitron';
  height: 100vh;
}

.splash-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 150px;
}

.selection-splash {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.choose-char-container {
  padding-left: 1rem;
  font-weight: 900;
}

.name-input-container {
  font-weight: 900;
}

label {
  margin-right: 0.5rem;
}

.title {
  font-family: 'Orbitron';
  font-size: 40px;
  color: white;
  text-align: center;
}

button {
  font-family: 'Orbitron';
}

.start-game-message {
  color: red;
}

.player1-name, .player2-name {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 5px;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player1-display {
  color: white;
}

.player1-display, .player2-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master-chief {
  width: 40%;
}

.player2-display {
  color: white;
}

.enemy {
  width: 65%;
  height: 65%;
}

.img {
  margin: auto;
}

.player1-attack-message, .player2-attack-message {
  color: springgreen;
}

.choose-attack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reset-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 8em;
  text-align: center;
}

.reset {
  height: 50px;
  width: 120px;
  border: 3px solid #f44336;
  color: red;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.reset:hover {
  background: #f44336;
  color: white;
}

#player1-health, #player2-health {
  position: relative;
  height: 30px;
  width: 250px;
  border: white 3px solid;
  border-radius: 3px;
  margin-right: 20px;
  display: inline-block;
  font-family: monospace;
}

#player1-health-bar, #player2-health-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: lightgreen;
}

#attack-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-attack-container {
  width: 25%;
  text-align: center;
}

.choose-attack-container button {
  font-family: "Press Start 2P";
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: #464646;
  border-radius: 7px;
  -webkit-box-shadow: 0 .2em gray;
          box-shadow: 0 .2em gray;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.choose-attack-container button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: .2em;
}

.choose-attack-container button:hover {
  background-color: dimgray;
  color: white;
}

.attack-btns-label {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
/*# sourceMappingURL=styles.css.map */