* {
	box-sizing: border-box;
}


body {
	background: url('/images/Halo-Background.jpeg') top left/ cover no-repeat;
	font-family: 'Orbitron';
}
 .title {
	 font-family: 'Orbitron';
	 font-size: 40px;
	 color: white;
	 text-align: center;
 }

 button {
	 font-family: 'Orbitron';
 }

.start-game-message{
    color: red;
}

.player1-name, .player2-name {
 font-weight: 900;
 font-size: 20px;
 margin-bottom: 5px;
}


.display {
	display: flex;
	justify-content: space-between;

}

.player1-display {
	color:white;
}

.master-chief {
	display: flex;
	transform: scaleX(-1);
	width: 40%;
	margin-left: 5em;
}

.player2-display {
    color:white;
}

.enemy {
	display: flex;
	transform: scaleX(-1);
	width: 65%;
	height: 65%;
}

.player1-attack-message, .player2-attack-message {
    color:springgreen;
}
 
.choose-attack-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.reset-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 8em;
}

.reset {
	height: 50px;
	width: 100px;
	font-size: 20px;
	border: solid 5px red;

}

///HEALTH BARS////
#player1-health, #player2-health{
	position: relative;
	height: 30px;
	width: 250px;
	border: white 3px solid;
	border-radius: 3px;
	margin-right: 20px;
	display: inline-block;
    font-family: monospace;
}

#player1-health-bar, #player2-health-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: lightgreen;
}
////BONUS HEALTH BARS/////
// #player1-bonus-health, #player2-bonus-health{
// 	position: relative;
// 	height: 30px;
// 	width: 200px;
// 	border: gray 3px solid;
// 	border-radius: 3px;
// 	margin-right: 20px;
// 	display: inline-block;
// }

// #player1-bonus-health-bar, #player2-bonus-health-bar {
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	height: 100%;
// 	width: 100%;
// 	background:rgb(110, 230, 230);
// }
